.Book {
  width: 250px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100px;
}

.Book h1 {
  font-size: 14px;
}
