.footer {
  background: #1e130c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9a8478,
    #1e130c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9a8478,
    #1e130c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 120px;
}

.footer-header {
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.icons {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.icons a {
  color: white;
}
