.main-page {
  background-image: url("../images/harrypotter.jpg");
  background-position: center;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainpage-header h2 {
  /* color: #200122; */
  color: white;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.mainpage-header h2 {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  opacity: 0.9;
}
