.searchbox-wrap {
  padding: 15px;
  min-width: 600px;
  display: flex;
  justify-content: center;
}

.searchbox {
  margin: 10px auto;
  height: 50px;
  width: 500px;
  padding: 8px;
  border: none;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 20px;
}

.search-button {
  padding: 8px;
  height: 50px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 20px;
  outline: none;
}
